.header {
  display: flex;
  justify-content: space-between;
}

@media (min-width: 1280px) {
    .header {
        max-width: 1184px;
        margin: 28px auto;
    }
}

@media (max-width: 1280px) {
    .header {
        max-width: 1050px;
        margin: 28px auto;
    }
}

@media (max-width: 1024px) {
    .header {
        max-width: 928px;
        margin: 28px auto;
    }
}

@media (max-width: 768px) {
    .header {
        max-width: 720px;
        margin: 28px auto;
    }
}

@media (max-width: 360px) {
    .header {
        max-width: 288px;
        margin: 16px auto;
    }
}