.footer__link {
  text-decoration: none;
  color: white;
}

.footer__link:hover {
  opacity: 0.4;
  transition: ease 0.5s;
}

@media (min-width: 1280px) {
  .footer__link {
    margin-right: 18px;
  }
}

@media (min-width: 1024px) and (max-width: 1279px) {
  .footer__link {
    margin-right: 18px;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .footer__link {
    margin-right: 18px;
  }
}

@media (min-width: 320px) and (max-width: 767px) {
  .footer__link {
    max-width: 320px;
    display: flex;
    margin-bottom: 18px;
  }
}
