.lead__title {
  color: white;
  text-align: center;
  margin: auto;
}

@media (min-width: 1280px) {
  .lead__title {
    max-width: 720px;
    max-height: 200px;
    font-size: 96px;
    line-height: 100px;
    font-weight: 800;
  }
}

@media (min-width: 1024px) and (max-width: 1280px) {
  .lead__title {
    max-width: 720px;
    max-height: 200px;
    font-size: 96px;
    line-height: 100px;
    font-weight: 800;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .lead__title {
    max-width: 720px;
    max-height: 200px;
    font-size: 96px;
    line-height: 100px;
    font-weight: 800;
  }
}

@media (min-width: 320px) and (max-width: 768px) {
  .lead__title {
    max-width: 288px;
    max-height: 88px;
    font-size: 40px;
    line-height: 44px;
    font-weight: 800;
    margin-top: 48px;
  }
}
