.place__website {
  display: flex;
  justify-content: end;
  align-content: flex-end;
  flex-direction: column;
}

@media (min-width: 1280px) {
  .place__website {
    max-width: 456px;
    margin-bottom: 48px;
    margin-left: 40px;
  }
}

@media (min-width: 1024px) and (max-width: 1279px) {
  .place__website {
    max-width: 456px;
    margin-bottom: 48px;
    margin-left: 32px;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .place__website {
    max-width: 352px;
    margin-bottom: 48px;
    margin-left: 28px;
  }
}

@media (min-width: 320px) and (max-width: 767px) {
  .place__website {
    max-width: 288px;
    margin: 0 auto 32px auto;
  }
}
