.intro__title {
  color: white;
}

@media (min-width: 1280px) {
  .intro__title {
    max-width: 690px;
    max-height: 58px;
    font-size: 54px;
    line-height: 58px;
    font-weight: 800;
    margin-top: 92px;
    margin-bottom: 40px;
  }
}

@media (min-width: 1280px) {
  .intro__title {
    max-width: 690px;
    max-height: 58px;
    font-size: 54px;
    line-height: 58px;
    font-weight: 800;
    margin-top: 92px;
    margin-bottom: 40px;
  }
}

@media (min-width: 1024px) {
  .intro__title {
    max-width: 690px;
    max-height: 58px;
    font-size: 54px;
    line-height: 58px;
    font-weight: 800;
    margin-top: 92px;
    margin-bottom: 40px;
  }
}

@media (min-width: 768px) {
  .intro__title {
    max-width: 720px;
    max-height: 58px;
    font-size: 54px;
    line-height: 58px;
    font-weight: 800;
    margin-top: 88px;
    margin-bottom: 40px;
  }
}

@media (min-width: 320px) {
  .intro__title {
    max-width: 288px;
    max-height: 70px;
    font-size: 32px;
    line-height: 35px;
    font-weight: 800;
    margin-top: 64px;
    margin-bottom: 40px;
  }
}
